@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: linear-gradient(red,whitesmoke);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}